#title{
 background-image: url(./images/desktop/image-header.jpg);
 height: 800px;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
.container-fluid{
padding: 0 5%;
}

.logo-text{
  font-family: 'Barlow', sans-serif;
  font-weight:800;
  font-size: 2rem;
}

.navbar-links li a{
  color: white !important;
  font-size: 16px;
}

.creative-text{
  font-family: 'Fraunces', serif;
  letter-spacing: 5px;
  color: white;
}
.transformText h1{
  font-size: 2.5rem !important;
  font-family: 'Fraunces', serif;
  font-weight:800;
}
.transformText p{
  font-family: 'Barlow', sans-serif;
  font-weight:300;
  font-size: 16px;

}
.audienceText h1{
  font-size: 2.5rem !important;
  font-family: 'Fraunces', serif;
  font-weight:800;
}

.audienceText p{
  font-family: 'Barlow', sans-serif;
  font-weight:300;
  font-size: 16px;
}
.firstImg{
  padding-right:0;
  padding-left:0;
}
.secondImg{
  padding-left:0;
  padding-right:0;
}

.anotherTwo{
  padding-left:0;
  padding-right:0;
}
.otherOne{
  padding-right:0;
  padding-left:0;
}