#title{
 background-image: url(./images/desktop/image-header.jpg);
 height: 800px;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.container-fluid{
padding: 0 5%;
}

.logo-text{
  font-family: 'Barlow', sans-serif;
  font-weight:800;
  font-size: 2rem;
}

.navbar-links li a{
  color: white !important;
  font-size: 16px;
}

.creative-text{
  font-family: 'Fraunces', serif;
  letter-spacing: 5px;
  color: white;
}
.transformText h1{
  font-size: 2.5rem !important;
  font-family: 'Fraunces', serif;
  font-weight:800;
}
.transformText p{
  font-family: 'Barlow', sans-serif;
  font-weight:300;
  font-size: 16px;

}
.audienceText h1{
  font-size: 2.5rem !important;
  font-family: 'Fraunces', serif;
  font-weight:800;
}

.audienceText p{
  font-family: 'Barlow', sans-serif;
  font-weight:300;
  font-size: 16px;
}
.firstImg{
  padding-right:0;
  padding-left:0;
  position: relative;
}
.secondImg{
  padding-left:0;
  padding-right:0;
}

.anotherTwo{
  padding-left:0;
  padding-right:0;
}
.otherOne{
  padding-right:0;
  padding-left:0;
}

#testimonials{
  padding: 7% 6%;
}
.round{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.headerText h1{
  font-size: 2rem;
  font-family: 'Fraunces', serif;
  color: #8f8f8f;
}
.cardText p{
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  color: dimgrey;
}
.cardText h3{
  font-family: 'Fraunces', serif;
}
#gallery{
  /* padding: 7% 2%; */
  overflow-x: hidden;
}
.footerText h1{
  font-family: 'Barlow', sans-serif;
  color: #2f7567;
  font-weight: bolder;
}
.footerText p{
  font-family: 'Barlow', sans-serif;
  color: #2f7567;
  font-size: 1rem;
  font-weight: 200;
}
.footerIcon{
  font-size: 25px;
  color: #2f7567;
}

#footer{
  background-color: #90d4c4;
  overflow-x: hidden;
}
.textGraphic{
  position: absolute;
  top: 0;
}